<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operation</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger"> Function Based CRUD Project</h2>
    {% block content %}{% endblock content%}
</div>


<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jqury.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>